@import '~common/less/mixins.less';
@import '~common/less/constants.less';

@polygonMobileSize: 16px;

.grid {
  margin: auto;
  display: grid;
  grid-row-gap: 25px;
  margin-top: 40px; // More spacing before the cards

  & > a {
    color: initial;

    &:hover {
      text-decoration: none;
    }
  }
}

.icon {
  align-self: center;
  text-align: right;
}

.gridRow {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 2fr 1fr 2fr;
  position: relative;
  .owCard();
  padding-right: 10px;
  width: 65%;
  margin: auto;
  height: 80px;
  .owCard();

  > span {
    width: 7px;
    margin: 10px 0 10px 10px;
  }

  > p {
    align-self: center;
    font-size: 18px;
  }
}

.elementGridRow {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.eventType {
  font-weight: 600;
  color: #7f7f7f;
  top: 40%;
  font-size: 20px;
}

.eventTitle {
  font-size: 20px;
  top: 60%;
}

.eventType,
.eventTitle {
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  width: 100%;
  transform: translate(-50%, -50%);
}

/* Mobile CSS */

@media (max-width: 830px) {
  .gridRow {
    height: 100px;
    width: 75%;
  }
}

@media (max-width: 705px) {
  .elementGridRow:nth-child(4) {
    // 4, to select the date text so we can pull the icons closer to eachother
    margin-right: -15px;
  }
  .gridRow > .elementGridRow:last-child {
    margin-right: 25px;
  }
  .eventTitle {
    font-size: 16px;
  }
}

@media (max-width: 610px) {
  .gridRow {
    width: 95%;
    height: 4rem;
  }
}

@media (max-width: 505px) {
  .gridRow {
    height: 5rem; // Because iPhone 5
  }
  .elementGridRow:last-child {
    margin-right: 0;
  }
  .elementGridRow:nth-child(4) {
    margin-right: -5px;
  }
}

/* End of Mobile CSS */
