@import '~common/less/mixins.less';
@import '~common/less/constants.less';

@polygonMobileSize: 16px;
@listBarWidth: 8px;

.grid {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px; // More spacing before the cards

  & > a {
    color: initial;
    padding: 0.25rem;
    border: 1px solid transparent;
    transition: border-color 0.1s;

    &:not(:first-child) {
      border-top: 1px solid @lightGray;
    }

    &:hover {
      text-decoration: none;
      border-color: @blue;
    }
  }
}

.icon {
  align-self: center;
  text-align: right;
  margin-right: 0.25rem;
}

.gridRow {
  display: grid;
  grid-template-columns: 16rem 2fr 2rem 6rem 2rem 6rem;
  position: relative;
  margin: auto;
  color: @darkGray;

  > p {
    align-self: center;
  }
}

.eventTypeDiv {
  height: 100%;
  display: grid;
  grid-template-columns: @listBarWidth 1fr;
  grid-gap: 0.5rem;
}

.eventTypeDiv > span {
  width: @listBarWidth;
  margin: @listBarWidth 0;
}

.eventType {
  font-weight: 600;
  align-self: center;
}

.eventTitle {
  text-align: left;
}

/* Mobile CSS */

@media (max-width: @owMobileBreakpoint) {
  .gridRow {
    grid-template-columns: 3fr 0.5fr 1fr;
    grid-template-rows: 1fr auto;

    & > p:first-of-type {
      grid-row: 1 / span 2;
    }
  }
  .icon {
    grid-column-start: 2;
  }
  .eventTypeDiv,
  .eventType {
    position: absolute;
  }
  .eventType {
    top: 0;
    left: 1rem;

    > span {
      margin: @listBarWidth / 2 0;
    }
  }
  .eventTitle {
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}

@media (max-width: 320px) {
  .gridRow {
    max-width: 17rem;
  }
}

/* End of Mobile CSS */
