@import '~common/less/mixins.less';
@import '~common/less/constants.less';

@polygonMobileSize: 16px;
@listBarWidth: 8px;

.grid {
  margin: auto;
  display: grid;
  grid-row-gap: 25px;
  margin-top: 40px; // More spacing before the cards

  & > a {
    color: initial;

    &:hover {
      text-decoration: none;
    }
  }
}

.icon {
  align-self: center;
  text-align: right;
  margin-right: 5px;
  font-size: 20px;
}

.gridRow {
  display: grid;
  grid-template-columns: 1fr 20fr 0 3fr 0 3fr;
  position: relative;
  .owCard();
  padding-right: 10px;
  width: 65%;
  margin: auto;
  height: 80px;
  .owCard();

  > span {
    width: @listBarWidth;
    margin: @listBarWidth 0 @listBarWidth @listBarWidth;
    border-radius: 2px;
  }

  > p {
    align-self: center;
    font-size: 18px;
  }
}

.elementGridRow {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.eventType {
  font-weight: 500;
  top: 26%;
  font-size: 16px;
}

.eventTitle {
  font-size: 20px;
  top: 57%;
}

.eventType,
.eventTitle {
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  width: 100%;
  transform: translate(-50%, -50%);
}

/* Mobile CSS */

@media (max-width: 830px) {
  .gridRow {
    height: 85px;
    width: 95%;
  }
  .eventTitle,
  .eventType {
    left: 52%;
  }
}

@media (max-width: 705px) {
  .elementGridRow:nth-child(4) {
    // 4, to select the date text so we can pull the icons closer to eachother
    margin-right: -15px;
  }
  .gridRow > .elementGridRow:last-child {
    margin-right: 25px;
  }
}

@media (max-width: 540px) {
  .eventTitle {
    font-size: 14px;
  }
  .eventType {
    font-size: 13px;
  }
  .icons {
    font-size: 15px;
  }
  .gridRow > p {
    font-size: 16px;
  }
}

/* End of Mobile CSS */
