{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    ["@babel/env", {
      "targets": {
        "chrome": "64"
      },
      "useBuiltIns": "usage",
      "debug": false
    }]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-async-generator-functions",
    "@babel/proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}