@import '~common/less/mixins.less';
@import '~common/less/constants.less';
@import '~common/less/colors.less';

@toastWidth: 400px;

.toastContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 8px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: @toastWidth;

  @media screen and (max-width: @toastWidth) {
    width: 100vw;
  }
}

.countDownProgress {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;

  > .progressBar {
    height: 2px;
    background: #fff;
    transition-duration: unset; /* Defined in the Component based on props */
    transition-property: width;
    transition-timing-function: ease-in;
  }
}

.messageContainer {
  .owCard();
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: @darkGray;
}

.messageContent {
  display: flex;
  justify-content: space-between;
  height: unset;
  width: 100%;
  padding: 8px 8px 0;
  color: #fff;
  box-sizing: border-box;
  font-size: @owFontS;
  font-weight: 600;
  word-break: break-word;
}

.cancelButton {
  color: #fff;
  background: unset;
  margin: 0 4px;

  > img {
    width: 14px;
  }
}

.error {
  background: @red;
}

.success {
  background: @green;
}

.info {
  background: @darkGray;
}

.warning {
  background: @orange;
}
