.login {
  height: 60px;
  width: 50px;
  margin: -10px 20px -10px 0;

  button {
    width: 100%;
    height: 100%;
    background-color: #fff1;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      @headSize: 12px;
      top: calc(50% - @headSize / 2 - @headSize / 3);
      left: calc(50% - @headSize / 2);
      width: @headSize;
      height: @headSize;
      border-radius: @headSize / 2;
      background-color: #fff;
      border: 1px solid #173858;
      box-sizing: border-box;
    }

    &::before {
      content: '';
      position: absolute;
      @bodySize: 14px;
      top: calc(50% - 1px);
      left: calc(50% - @bodySize / 2);
      border-radius: @bodySize / 2;
      border: @bodySize / 2 solid #fff;
      border-left-color: transparent;
      border-bottom-color: transparent;
      transform: rotate(-45deg);
    }
  }
}
