.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.tile {
  background: white;
  overflow: hidden;
  height: 10rem;
}

.tileContent {
  width: 100%;
  padding: 0.2rem;

  & > a {
    color: initial;
    &:hover {
      text-decoration: none;
    }
  }

  & > p:first-child {
    color: gray;
  }
}

.title {
  padding: 0.2rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.tileInactive {
  background: #fafafa;
  > p {
    color: lightgray !important;
  }
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 2rem;

  > h3 {
    user-select: none;
    cursor: pointer;
  }
}

@media (min-width: 800px) {
  .grid {
    grid-gap: 3px;
  }

  .tile {
    position: relative;
    padding-bottom: 100%;
  }

  .tileContent {
    position: absolute;
    padding: 0.8rem;
  }

  .title {
    padding: 0.5rem;
  }
}