@import '~common/less/constants.less';
@import '~common/less/mixins.less';
@import '~common/less/colors.less';

.monthChanger {
  .owOutline();
  font-size: 30px;
  color: @lightGray;
  & :hover {
    color: @gray;
    cursor: pointer;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  background: @lightGray;
  border: 1px solid @lightGray;
}

.tile {
  overflow: hidden;
  height: 100px;
  background: #fff;

  &:hover {
    outline: 1px solid @blue;
  }
}

.tileInactive {
  background: @offWhite;
  box-shadow: none;
}

.tileContent {
  padding: 0.25rem;

  & > a {
    color: initial;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  & > p:first-child {
    color: @gray;
    margin-bottom: 0.25rem;
  }
}

.title {
  padding: 0.125rem 0.25rem;
  margin-bottom: 10px;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  font-size: @owFontXS;
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 20px;
}

.hoverCard {
  width: 260px;
  .owCard();
  color: @darkGray;

  & > img {
    width: 100%;
    border-bottom: 1px solid @lightGray;
  }
  > div {
    margin: 8px;
  }
}

.infoTag {
  padding: 5px 3px;
  & > svg {
    padding-right: 10px;
  }
}

@media (min-width: @owMobileBreakpoint) {
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: @owTabletBreakpoint) {
  .tile {
    height: inherit;
    position: relative;
    padding-bottom: 100%;
  }

  .tileContent {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding: 0.25rem;
  }

  .title {
    font-size: @owFontS;
  }
}
