.center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  padding-top: 4rem;
}

.inner-container {
  width: 96rem;
}

.profile-image {
  border-radius: 50%;
  width: 14rem;
  margin: 6px;
  border: 6px solid #333333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #333333;
}

.name {
  margin: 2rem;
  font-size: 4rem;
}

.committee-medal {
  width: 10rem;
}

.committee-crown-container {
  position: relative;
  min-height: 8rem;
}

.committee-crown {
  padding: 0.3rem 0.8rem;
  width: 10rem;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
}

.committee-range {
  font-weight: bold;
  text-align: center;
}

.medal-container {
  display: grid;
  grid-template-columns: auto;
  margin: 0rem 3rem;
}

.side-scroll {
  overflow-x: scroll;
}

.info-group {
  padding: 0 2rem;
}

.group-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 2rem;
  margin: 4rem 0;
}

.medal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.group-name {
  font-size: 2.5rem;
}

.info-wrapper {
  display: block;
  width: 20rem;
}

.info-type, .info-content {
  margin: 0;
  padding: 0;
}

.info-content, .info-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.group-name {
  display: inline;
  font-weight: bold;
}

.info-icon {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.info-icon-wrapper {
  display: flex;
  min-width: 30rem;
}

.info-icon-content {
  display: block;
}

.medal-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.medal-wrapper:hover .medal-description {
  visibility: visible;
  opacity: 1;
}

.medal-wrapper {
  position: relative;
}

.small-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.small-content {
  display: inline-block;
}

.progress-wrapper {
  max-width: 48rem;
  margin: 0 20rem;
}

.picture-padding {
  margin: 2rem;
}

.grid-row {
  background-color: #ffffff; 
}
