.container {
  display: inline-flex;
  background-color: #ffffff;
  border: 2px solid #636363;
  border-radius: 16px;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  height: auto;

  &:focus {
    outline: none;
  }

  &:hover {
    .slider {
      background: #a55555;
    }
    .checked {
      background: #004b80;
    }
  }

  &:disabled {
    background: #f0f0f0;
    border-color: #b8b8b8;

    .slider {
      background: #ababab;
    }
  }
}

.slider {
  margin: 0.7px -1.7px;
  margin-right: 15px;
  align-self: left;
  width: 15px;
  height: 15px;
  transition: .4s;
  border-radius: 100%;
  background: #D06969;
}

.checked {
  margin-left: 15px;
  margin-right: -1.7px;
  background: #0060a3;
}

.icon {
  width: 8px;
  height: 8px;
}
