.container {
  display: inline-flex;
  background-color: #ffffff;
  border: 2px solid #636363;
  border-radius: 16px;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  height: auto;

  &:focus {
    outline: none;
  }

  &:hover {
    .slider {
      background: #a55555;
    }
    .checked {
      background: #004b80;
    }
  }

  &:disabled {
    background: #f0f0f0;
    border-color: #b8b8b8;

    .slider {
      background: #ababab;
    }
  }
}

.slider {
  margin: 0.07rem -0.17rem;
  margin-right: 1.5rem;
  align-self: left;
  width: 1.5rem;
  height: 1.5rem;
  transition: .4s;
  border-radius: 100%;
  background: #D06969;
}

.checked {
  margin-left: 1.5rem;
  margin-right: -0.17rem;
  background: #0060a3;
}

.icon {
  width: 0.8rem;
  height: 0.8rem;
}
