@import './reset.css';

body {
  background: #f3f3f3;
  font-family: 'Source Sans Pro', sans-serif;
}

:global {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
