@import './reset.less';
@import '~common/less/mixins.less';

/* stylelint-disable selector-max-type */

:global {
  #root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }
}

html,
body {
  height: 100%;
}

body {
  background: #f3f3f3;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

a,
button,
input {
  .owOutline();
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p,
blockquote,
li {
  line-height: 1.5;
}
