@import '~common/less/mixins.less';

.menu {
  .owCard();

  margin-bottom: auto;
}

.tab {
  display: block;
  padding: 20px;

  &:hover {
    background: darken(white, 10%);
  }
}

.active {
  background: #0069b3;

  p {
    color: #fff;
  }

  &:hover {
    background: lighten(#0069b3, 10%);
  }
}
