@import '~common/less/mixins.less';

.grid {
  display: grid;
  margin-bottom: 20px;
  grid-template-areas: 'title' 'choice' 'toggle';

  > h3 {
    grid-area: title;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@header-icon-height: 30px;
@header-icon-aspect-ratio: 65 / 30;

.choiceGrid {
  display: grid;
  grid-area: choice;
  grid-template-columns: repeat(3, @header-icon-height * @header-icon-aspect-ratio);
  grid-template-rows: @header-icon-height;
  justify-content: center;
  margin: 20px 0;
}

.choice {
  cursor: pointer;
  .owOutline();

  > svg {
    width: 100%;
    height: 100%;
    fill: @lightGray;
    transition: fill 0.2s;
  }
}

.choiceActive {
  cursor: inherit;
}

.choiceActive > svg,
.choice > svg:hover {
  fill: @gray;
}

.toggleAccessible {
  grid-area: toggle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleAccessibleDescription {
  margin-right: 10px;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'title title' 'choice toggle';

    h3 {
      margin-bottom: 20px;
    }
  }

  .choiceGrid {
    justify-content: flex-start;
    margin: 0;
  }

  .toggleAccessible {
    justify-content: flex-end;
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'title choice toggle';

    h3 {
      margin: 0;
    }

    .choiceGrid {
      justify-content: center;
    }
  }
}
