.header {
  text-align: center;
  
  h1 {
    color: #cccccc;
    font-size: 6rem;
    font-weight: 300;
    margin: 3rem;
  }

  p {
    color: #cccccc;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
