.grid {
    display: grid;
    grid-gap: 1rem;
}

.grid-row {
    background-color: #ffffff; 
}

.divider {
    height: 2rem;
}

.progress-bar {
    height: 0.3rem;
    background: red;
}