.grid {
  display: grid;
  grid-gap: 1rem;
}

.grid-row {
  background-color: #ffffff; 
}

.divider {
  height: 2rem;
}

.margin {
  margin: 1.4rem;
}

.progress-bar {
  height: 0.3rem;
  background: red;
}