
.event-header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10rem;
}

.event-header-choice-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-template-rows: 4rem;
  > div {
    background-color: lightgray;
  }
}

.event-header-choice-active {
  background: #828282 !important;
}
