.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.textField {
  max-width: 300px;
}

.inputContainer > button {
  margin-left: 0.7rem;
}

.mailSelect {
  min-width: 350px;
  height: 100%;
}
