@import '~common/less/constants.less';
@import '~common/less/mixins.less';

@edge-height: 20px;

.largeEventGrid,
.smallEventGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  & > a {
    color: initial;

    &:hover {
      text-decoration: none;
    }
  }
}

.smallEventGrid {
  margin-top: 20px;
}

@media (min-width: @owTabletBreakpoint + 1) {
  .largeEventGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .smallEventGrid {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.large {
  display: flex;
  flex-direction: column;
  .owCard();
  height: 100%;
}

.imageLargeType {
  position: relative;
  padding: 7px 0;
  color: #fff;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 20px;
}

.largeImage {
  width: 100%;
}

.largeImageEmpty {
  height: 100%;
  margin: auto;
  border-bottom: 0.5px solid #b7b7b7;

  path {
    fill: @lightGray;
  }
}

.largeContent {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 6fr 1fr 1fr 1fr 1fr;
  border-top: 0.5px solid #b7b7b7;
  padding-right: 10px;
  min-height: 4rem;
}

.largeContent > span,
.small > span {
  width: 7px;
  margin: 10px 0 10px 8px;
  border-radius: 2px;
}

.largeContentEmpty {
  display: block;
  padding: 10px 15px;
  margin-top: -25px;
  font-size: @owFontM;
  text-align: center;
  color: @gray;
}

.small {
  display: grid;
  grid-template-columns: 0.5fr 6fr 1fr 1fr 1fr 1fr;
  position: relative;
  .owCard();
  padding-right: 10px;
  min-height: 4rem;
}

.largeContent,
.small {
  > p {
    align-self: center;
    text-align: left;
    color: initial;
  }
}

.icon {
  align-self: center;
  margin-left: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.eventTitle {
  margin-left: 5px;
}

.suppText {
  width: 40px;
}

/* Mobile CSS */

@media (max-width: @owTabletBreakpoint) {
  .eventTitle {
    font-size: 20px;
  }
  .small,
  .largeContent {
    min-height: 5rem;
    grid-template-columns: 0.3fr 4fr 0.1fr 1fr 0.1fr 1fr;
    max-width: 17rem;
  }
  .icon {
    font-size: 21px;
    margin-left: 20px;
  }
  .small > p,
  .largeContent > p {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  // Change text sizes
  .small > p,
  .largeContent > p {
    font-size: 16px;
  }
  .icon {
    font-size: 17px;
  }
  .suppText {
    max-width: 35px;
  }
}


/* End of Mobile CSS */
