@import '~common/less/constants.less';
@import '~common/less/mixins.less';

@edge-height: 20px;

.largeEventGrid,
.smallEventGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  & > a {
    color: initial;

    &:hover {
      text-decoration: none;
    }
  }
}

.smallEventGrid {
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .largeEventGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .smallEventGrid {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.large {
  display: flex;
  flex-direction: column;
  height: 100%;
  .owCard();
}

.imageLargeType {
  position: relative;
  padding: 7px 0 7px;
  color: #fff;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 20px;
}

.largeImage {
  width: 100%;
}

.largeImageEmpty {
  height: 100%;
  margin: auto;

  path {
    fill: @lightGray;
  }
}

.largeContent {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  flex: 1;
  border-top: 0.5px solid #b7b7b7;

}

.largeContent > span, .small > span {
  width: 4px;
  margin: 10px 0px 10px 8px;
}

.largeContentEmpty {
  display: block;
  padding: 10px 15px;
  margin-top: -25px;
  font-size: @owFontM;
  text-align: center;
  color: @gray;
}

.small {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr 2fr;
  position: relative;
  height: 100%;
  .owCard();
}

.largeContent,
.small {
  > p {
    align-self: center;
    text-align: left;
    color: initial;
  }
}

.textWithIcon{
  color: #333333;
  display: flex;
  align-self: center;
  padding-right: 5px;

}

.textWithIcon > svg {
  align-self: center;
  color: #7f7f7f;
}

.textWithIcon:last-child {
  padding-right: 15px;
}
