.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.hobby {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;

  & img {
    width: 100%;
  }

  & > div {
    margin: 20px;
  }
}

.hobbyTitle {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.intro {
  margin: 20px 0;

  p {
    word-break: break-word;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 10px;
  }
}
