.button {
  font-weight: bold;
}

dialog.deregisterModal {
  padding: 0;

  & > form {
    padding: 1em;
    max-width: 65ch;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.75rem;

    > fieldset {
      > label {
        display: block;
        font-size: 1.25em;
      }

      input[type='radio'] {
        transform: scale(1.25);
        margin-right: 0.5em;
      }
    }

    textarea {
      display: block;
      width: 100%;
      min-height: 2em;
      height: 5em;
      padding: 2px;
      resize: vertical;
      border: 1px solid;
      border-radius: 5px;
    }

    div:last-child {
      display: flex;
      justify-content: space-between;
    }
  }
}
