.container {
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: space-between;

  & div {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
  }
}
