@import '~common/less/mixins.less';
@import '~common/less/colors.less';
@import '~common/less/constants.less';

.container {
  margin-top: 40px;
  width: 100%;
}

.carouselContainer {
  display: flex;

  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.carouselArrow {
  cursor: pointer;
  align-self: center;
  background: none;
}

.carousel {
  display: flex;
}

.carouselItem {
  .owCard();
  transition: 1s ease-in 0.2s;
  text-align: center;

  width: 200px;

  @media screen and (max-width: @owMobileBreakpoint) {
    width: 150px;
  }

  a {
    color: @darkGray;
  }

  p {
    margin: 5px 0;
  }

  img {
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
