<<<<<<< HEAD:src/profile/components/Penalties/penalties.less
@import '~common/less/constants.less';

.grid {
  display: grid;
  grid-gap: 10px;
}

.grid-row {
  .owCard();
}

.divider {
  height: 20px;
}

.margin {
  margin: 14px;
}

.progress-bar {
  height: 3px;
  background: red;
}
=======
.grid {
  display: grid;
  grid-gap: 10px;
}

.grid-row {
  background-color: #fff;
  &:hover {
    cursor: pointer;
  }
}

.divider {
  height: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.progress-bar {
  height: 3px;
  background: red;
}
>>>>>>> master:src/profile/components/Settings/Penalties/penalties.less
