@import '~common/less/mixins.less';

.penalty {
  &:hover {
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }
  .owOutline();
}

.penaltyTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.penaltyContent {
  padding: 15px;
  border-top: 1px solid gray;
}

.progress-bar {
  height: 4px;
  background: red;
}

.toggleRules {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.rules {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid gray;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 16px;
  }

  p,
  ul,
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
