.footer {
  display: flex;
  background: #333;
  justify-content: center;
  padding: 30px 20px;
  line-height: 1.65;

  & > div {
    width: 300px;
  }

  & p,
  & div {
    color: #bbb;
  }

  & a {
    color: #589dd8;
  }
}

.address-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.social {
  display: flex;

  & > a {
    margin-right: 20px;
    opacity: 0.7;

    img {
      height: 32px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.contact-developers {
  margin-top: 20px;
}

.contact-info .contact-item {
  margin-bottom: 5px;

  svg {
    margin-right: 10px;
  }
}

.address {
  margin-top: 30px;
  color: #bbb;
  margin-bottom: 30px;

  .address-heading {
    font-weight: bold;
  }
}

#footer-map {
  width: 100%;
  height: 300px;
}

#footer-map .gmnoprint,
#footer-map div a img {
  display: none;
}
