@import '~common/less/colors.less';
@import '~common/less/constants.less';

@paddingHorizontal: 20px;

.footer {
  border-top: 1px solid @lightGray;
  padding: @paddingHorizontal;
  box-sizing: border-box;
  margin: 10px auto 0;
  width: calc(100% - @paddingHorizontal * 2);
  max-width: @owDesktopMaxWidth - @paddingHorizontal * 2;
}

.footerContent {
  display: grid;

  /* 3 columns are calculated by (maxWidth - padding - margin) / 3). */
  grid-template-columns: 1fr 1.3fr 1fr;
  grid-row-gap: 35px;
  color: @darkGray;
  width: calc(70% - @paddingHorizontal * 2);
  margin: 10px auto 0;
  max-width: @owDesktopMaxWidth - @paddingHorizontal * 2;

  & > * {
    margin: 5px 15px;
  }

  & > div > p:first-of-type {
    font-weight: bold;
  }

  & > address > p:first-of-type {
    font-weight: bold;
  }

  @media (max-width: @owMobileBreakpoint) {
    grid-template-columns: 1fr;
    width: calc(100% - @paddingHorizontal * 2);
    grid-row-gap: 15px;
  }
}

.social {
  display: inline-block;
}

.social,
.sponsor {
  filter: brightness(0.4);
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.2);
  }

  img {
    height: 32px;
  }
}

.social:not(:last-child) {
  margin-right: 5px;
}
