@import '~common/less/colors.less';
@import '~common/less/constants.less';

.stringStat {
  text-align: center;
  & > h2 {
    color: @gray;
    margin-bottom: 1rem;

    &:empty {
      display: none;
    }
  }

  & > p {
    color: @bedpres;
    font-size: 32px;
    font-weight: bold;
  }
}

.noCompanyString {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div > p {
    color: #eb536e;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.centerChart {
  & > div,
  h1 {
    display: flex;
    justify-content: center;
  }
}

.barChart {
  height: 550px;
  max-width: 90vw;
}

.pieChart {
  width: 450px;
  height: 350px;
  max-width: 90vw;
  margin: auto;

  @media screen and (max-width: @owMobileBreakpoint) {
    width: 400px;
    height: 300px;
  }
}
