@import '~common/less/mixins.less';
@import '~common/less/colors.less';
@import '~common/less/constants.less';

.byline {
  margin-top: 1em;
  line-height: 1.5;

  > span {
    font-weight: bold;

    &:not(:first-child)::before {
      content: ' | ';
      font-weight: normal;
      @media screen and (max-width: @owMobileBreakpoint) {
        content: '\A';
        white-space: pre;
      }
    }
  }

  > .lastChanged {
    font-style: italic;
    font-weight: normal;
  }
}

.articleimage {
  margin-bottom: 1rem;
  position: relative;

  > img {
    .owCard();
    width: 100%;
  }

  > div {
    padding: 0.5rem;
    bottom: 0;
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.6);
    color: @darkGray;
    margin-bottom: 2px;
    border-radius: 0 3px;

    > span {
      font-weight: bold;
    }
  }
}

.articleText {
  .owCard();
  padding: 1rem;
}

.articleHeader {
  .owCard();
  padding: 1rem;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
}

@media screen and (min-width: @owMobileBreakpoint) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;

    > article {
      grid-column: 1;
    }
  }

  .relatedArticle {
    margin-top: 0;
  }
}

.relatedArticles {
  grid-column: 2;
}

.relatedArticle {
  .owCard();
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.relatedArticleHeading {
  padding: 0.75rem;
}

.relatedArticleImage {
  width: 100%;
  position: relative;
  border-radius: 3px 3px 0 0;
}
