.profile-menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 0;
}

.profile-menu-grid-row {
  text-align: center;
  display: grid;
  justify-items: center;
  border-bottom: 3px solid lightgray;
}

.profile-menu-clicked {
  border-color: #333333;
}

.profile-menu-text {
  color: #333333;
}

.remove-underline:focus, .remove-underline:visited, .remove-underline:link, .remove-underline:hover {
  text-decoration: none !important;
}
