.menuGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 0;
  width: 100%;
}

.menuGridRow {
  text-align: center;
  display: grid;
  justify-items: center;
  border-bottom: 3px solid lightgray;
}

.menuClicked {
  border-color: #333;
}

.menuText {
  color: #333;
  margin: 10px;
}

.profileContainer {
  width: 100%;
}
