@headerHeight: 60px;
@headerPaddingVertical: 10px;
@contentHeight: @headerHeight - @headerPaddingVertical * 2;
@sponsorTextHeight: 8px;

.grid {
  display: flex;
  width: 1200px;
  padding: 10px 20px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
}

.header {
  display: flex;
  background-color: #07244c;
}

.item {
  text-transform: uppercase;
  color: white;
  margin: 0 10px;

  & a {
    color: white;
    font-size: 13px;
  }
}

.logo {
  height: @contentHeight;
  margin-right: 20px;
}

.sponsor {
  height: @contentHeight;
}

.sponsor-logo {
  margin-bottom: 4px;
  height: @contentHeight - @sponsorTextHeight - $margin-bottom;
}

.sponsor-text {
  text-transform: uppercase;
  color: #fff;
  font-size: @sponsorTextHeight;
  text-align: center;
  user-select: none;
}
