/* General */
@darkGray: #333333;
@gray: #7f7f7f;
@lightGray: #ccc;
@offWhite: #eee;

/* Interactable components */
@blue: #0d5474;
@green: #27ae60;
@red: #eb5757;

/* Accent color */
@orange: #f9b759;

/* Event type colors */
@bedpres: #eb536e;
@kurs: #127dbd;
@sosialt: #43b171;
@utflukt: #fdbd47;
@ekskursjon: #2ac6f9;
@internt: #e75e3b;
@annet: #b36bcd;
@kjelleren: #e75e3b;

@darkBlue: #072e40;
@lightBlue: #7aa1b3;
