/* General */
@darkGray: #333333;
@gray: #7f7f7f;
@lightGray: #eee;

/* Interactable components */
@blue: #0060a3;
@green: #27ae60;
@red: #eb5757;

/* Accent color */
@orange: #faa21b;

/* Backgrounds */
@lightBlue: #49a0cc;

@baseBackground: #f3f3f3;
@headerBlue: #07244c;

@bedpres: #eb536e;
@kurs: #137dbc;
@sosialt: #43b171;
