/* ********** Variables ********** */
@owTabletBreakpoint: 1024px;
@owMobileBreakpoint: 768px;

/* ********** Mixins ********** */
.owCard {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
