@import '~common/less/colors.less';

.owOutline {
  &:focus {
    outline: 2px solid @orange;
    outline-offset: 1px;
  }
}

.owCard {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: @darkGray;
}
