@import '~common/less/colors.less';

.top-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'jobs filter';
  grid-template-columns: 3fr 1fr;
}

@media only screen and (max-width: 1024px) {
  .top-grid {
    grid-template-columns: auto;
    grid-template-areas: 'filter' 'jobs';
  }
}

.jobs-area {
  grid-area: jobs;
}

.search-box {
  border: 3px solid darken(@baby-blue-medium, 10%);
  padding: 10px;
  margin: 7px 0;
  width: 100%;
}

.job-info {
  width: 100%;
  text-decoration: none;

  & > h1,
  p {
    font-weight: 400;
  }

  & > h1 {
    font-size: 20px;
    margin-top: 0;
  }
}

.job-meta {
  border-top: 1px dotted #ccc;
  margin-top: 10px;
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  & > p {
    color: #aaa;
  }

  font-size: 11px;
}

.job {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  background-color: white;

  & > a {
    width: 100%;
    text-decoration: none;

    & > img {
      width: 300px;
      align-self: center;
      justify-self: center;
      vertical-align: middle;
      margin: calc(50% - 150px);
    }
  }
}

@media only screen and (max-width: 800px) {
  .job {
    grid-template: none;
    align-items: center;

    & > a > img {
      align-self: center;
      justify-self: center;
      margin: 0 calc(50% - 150px);
    }
  }
}

.job-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-area: jobs;
}

.ingress {
  margin: 10px 0;
  line-height: 1.625em;
}

.career {
  p,
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }

  img {
    width: 100%;
  }
}

.filters {
  background: @baby-blue-medium;
  padding: 15px;
  margin-bottom: 20px;
  grid-area: filter;

  button {
    background-color: @baby-blue;
    color: #fff;
    border: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;

    &:focus {
      outline: 0;
    }
  }

  h3 {
    margin-top: 0;
    font-size: 20px;
    color: white;
  }
}

.tag-container {
  padding: 0;
  margin: 0;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;

  button {
    display: inline-flex;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    width: auto;
    background: @baby-blue;
    cursor: pointer;
  }

  .selected {
    background: darken(@baby-blue, 10%);
  }
}

.detail {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 20px;
}

@media only screen and (max-width: 1024px) {
  .detail {
    grid-template-columns: 1fr;
  }
}

.job-description {
  background-color: white;

  div {
    margin: 30px;
  }

  > p {
    font-weight: 300;
    color: #454545;
  }
}

.company {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto;

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  > div {
    background-color: @baby-blue-medium;

    > div {
      margin: 20px;

      p,
      h3 {
        color: white;
        font-weight: 300;
      }
    }
  }
}
