@import '~common/less/colors.less';
@import '~common/less/constants.less';
@import '~common/less/mixins.less';

.topGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'jobs filter';
  grid-template-columns: 3fr 1fr;
  max-width: 100vw;
}

.jobsArea {
  grid-area: jobs;
}

.searchBox {
  border: 3px solid darken(@baby-blue-medium, 10%);
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.jobInfo {
  width: 100%;
}

.jobMeta {
  border-top: 1px dotted #ccc;
  margin-top: 10px;
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  & > p {
    color: #aaa;
  }

  font-size: @owFontSmall;
}

.career img,
.company img {
  width: 100%;
}

.job {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  .owCard();

  & > a {
    width: 100%;

    & > img {
      width: 300px;
      align-self: center;
      justify-self: center;
      vertical-align: middle;
      margin: calc(50% - 150px);
    }
  }
}

.jobList {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-area: jobs;
}

.ingress {
  margin: 10px 0;
}

.filters {
  background: @baby-blue-medium;
  padding: 15px;
  margin-bottom: 20px;
  grid-area: filter;
  color: #fff;

  button {
    background: @baby-blue;
    color: #fff;
    border: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.tagContainer {
  display: block;
  margin: 10px 0;

  h2 {
    margin-bottom: 10px;
  }

  button {
    display: inline-flex;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fff;
    width: auto;
    background: @baby-blue;
    cursor: pointer;
  }

  .selected {
    background: darken(@baby-blue, 10%);
  }
}

.detail {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 20px;
  margin-bottom: 40px;
}

.jobDescription {
  padding: 30px;
  color: #454545;
  .owCard();
}

.jobTitle {
  margin-bottom: 20px;
}

.company {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.companyImage {
  .owCard();
}

.companyDescriptionBox,
.keyInfo {
  background: @baby-blue-medium;
  padding: 20px;
}

.companyDescriptionTitle,
.keyInfo h3 {
  display: block;
  font-size: 24px;
  margin-bottom: 6px;
  color: #fff;
}

.companyDescriptionContent,
.keyInfo p {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .topGrid {
    grid-template-columns: auto;
    grid-template-areas: 'filter' 'jobs';
  }

  .detail {
    grid-template-columns: 1fr;
  }

  .job {
    grid-template: none;
    align-items: center;

    & > a > img {
      align-self: center;
      justify-self: center;
      margin: 0 calc(50% - 150px);
    }
  }
}
