@import '~common/less/colors.less';
@import '~common/less/mixins.less';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.resource {
  display: grid;
  grid-template-columns: 1fr 2fr;
  .owCard();

  & img {
    width: 100%;
  }

  & > div {
    margin: 20px;
  }
}

.resourceTitle {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
