.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.resource {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  & img {
    width: 100%;
  }
  & > span {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
