.alert {
  margin-bottom: 40px;
  background-color: #ffffcc;
  border: 3px solid #ffcc00;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.3rem;
}

.alert a {
  text-decoration: underline;
}

.alert a:hover {
  text-decoration: none;
}
