@import '~common/less/constants.less';
@import '~common/less/mixins.less';

@edge-height: 20px;
@colorIndicatorSize: 0.5rem;

.registrationContainer {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
  }
}

@media (max-width: @owTabletBreakpoint) {
  .registrationContainer {
    flex-direction: column;
  }
}


.small {
  display: grid;
  grid-template-columns: @colorIndicatorSize * 3 / 2 1fr 1.5rem 2.5rem 1.5rem 3.5rem;
  min-height: 4rem;
  padding: 0.5rem;
  box-sizing: border-box;
  grid-gap: 0.25rem;

  > p {
    align-self: center;
    text-align: left;
    color: initial;
  }
}

.icon {
  align-self: center;
  text-align: right;
}

.suppText {
  width: 40px;
}
