@grid-gap: 2px;

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: @grid-gap;
}

.small-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: @grid-gap;
}

.image-container {
  position: relative;
  color: white;
  height: 100%;

  & img {
    height: 100%;
    width: 100%;
  }
}

.title {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
