@import '~common/less/mixins.less';
@import '~common/less/constants.less';

@grid-gap: 30px;

.articles {
  margin-top: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: @grid-gap;

  @media screen and (max-width: @owTabletBreakpoint) {
    grid-template-columns: 1fr;
  }
}

.smallContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: @grid-gap;
  overflow: visible; // Changed because the box-shadow was clipping
}

.articleContainer {
  position: relative;
  height: 100%;

  & img {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  & .largeImage {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  & > div {
    padding: 16px;
  }

  & h2 {
    padding: 0 0 8px;

    @media screen and (max-width: @owMobileBreakpoint) {
      font-size: 18px;
      padding: 0;
    }
  }

  .owCard();
}

.smallImage {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  @media screen and (max-width: @owDesktopMaxWidth) and (min-width: @owTabletBreakpoint) {
    height: 100%;
  }
}

.smallArticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Mobile CSS */

@media (max-width: 1024px) {
  .articles {
    margin: auto;
    max-width: 60%;
    margin-top: 20px;
  }
}

@media (max-width: 920px) {
  .smallArticle {
    grid-template-columns: 1fr;
  }
  .smallImage {
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
  }
}

@media (max-width: 705px) {
  .articles {
    width: 460px;
    max-width: none;
  }
}

@media (max-width: 610px) {
  .articles {
    width: 425px;
  }
}

@media (max-width: 485px) {
  .articles {
    width: 320px; // Because iPhone 5
  }
}

/* End of Mobile CSS */
