@import '~common/less/mixins.less';
@import '~common/less/constants.less';

@grid-gap: 30px;

.articles {
  margin-top: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: @grid-gap;

  @media screen and (max-width: @owTabletBreakpoint) {
    grid-template-columns: 1fr;
  }
}

.articleContainer {
  position: relative;
  height: 100%;
  border: 1px solid transparent;
  transition: border-color 0.1s;
  box-sizing: border-box;

  & img {
    display: block;
    width: 100%;
    border: 1px solid @lightGray;
    box-sizing: border-box;
  }

  > div {
    padding: 1rem 0.5rem;
  }

  & h2 {
    padding: 0 0 8px;

    @media screen and (max-width: @owMobileBreakpoint) {
      font-size: 18px;
      padding: 0;
    }
  }

  &:hover {
    border-color: @blue;
  }
}

.smallContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: @grid-gap;

  .articleContainer > span {
    padding: 0.5rem 1rem;
  }
}

.smallImage {
  @media screen and (max-width: @owDesktopMaxWidth) and (min-width: @owTabletBreakpoint) {
    height: 100%;
  }
}

.smallArticle {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

/* Mobile CSS */

@media (max-width: 1024px) {
  .articles {
    margin: auto;
    max-width: 70%;
    margin-top: 20px;
  }
}

@media (max-width: 920px) {
  .smallArticle {
    grid-template-columns: 12rem 1fr;
  }
}

@media (max-width: 705px) {
  .articles {
    max-width: none;
  }
}

/* End of Mobile CSS */
