@import '~common/less/colors.less';
@import '~common/less/constants.less';

.numberStat {
  text-align: center;
  & > h2 {
    color: @gray;
  }

  & > p {
    color: @bedpres;
    padding: 20px 0 0;
    font-size: 56px;
    font-weight: bolder;
  }
}

.centerChart {
  & > div,
  h1 {
    display: flex;
    justify-content: center;
  }
}

.barChart {
  height: 550px;
  max-width: 90vw;
}

.pieChart {
  width: 300px;
  height: 350px;
  max-width: 90vw;
  margin: auto;

  @media screen and (max-width: @owMobileBreakpoint) {
    width: 260px;
    height: 300px;
  }
}
