.intro {
  margin: 20px 0;

  p {
    word-break: break-word;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 10px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

#repositoryContainer {
  display: flex;
  flex-direction: column;
  border: #828282 solid 0.5px;
  padding: 5px 10px;
  border-radius: 3.5px;
  background-color: #e8e8e8;
  color: #000;

  h3 {
    font-weight: bolder;
  }
}

#repositoryContainer:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.repositoryContent {
  display: flex;
  justify-content: space-between;
}

.issues {
  display: flex;
  justify-content: flex-end;
  width: 20%;

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: #808080 solid 1px;
    border-radius: 100px;
  }
}

.header {
  width: 80%;
}

.languageBar {
  height: 20px;
  margin: 5px 0;

  div {
    height: 100%;
  }

  span {
    display: flex;
    height: 100%;
  }
}

.languageBarContainer {
  display: flex;
  width: 100%;
}

.languageBarContainer:hover {
  cursor: crosshair;
}

.toolTip {
  position: relative;
  margin-top: 25px;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #505050;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
