@import '~common/less/constants.less';

.card-margin {
  margin: 30px;
}

.pictureCardContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 83fr 33fr;
  grid-gap: 40px;
  .owCard();
}

.pictureCard {
  display: grid;
  background-color: white;
}

.pictureCard img {
  width: 100%;
}

.imageContainer {
  padding: 2rem;
}

.attendance {
  padding: 2rem 2rem 2rem 0;
}

.block-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block-grid > div {
  width: 50%;
}

.block-grid > .full-block {
  width: 100%;
}

.container {
  display: grid;
  grid-gap: 4rem;
  margin-top: 4rem;
}

.left-container {
  display: grid;
  grid-gap: 40px;
}

.right-container {
  display: grid;
  grid-gap: 4rem;
  margin-bottom: auto;
}

.registration {
  .owCard();
}

.contact {
  background-color: white;
  padding: 2rem 0;
  .owCard();
}

.info-box {
  .owCard();

  .info-box-header {
    font-size: 18px;
    margin-bottom: 0;
    font-style: italic;
  }

  .info-box-content {
    line-height: 1.65rem;
    font-size: 16px;
    margin-top: 1rem;

    p {
      margin-top: 1rem;
    }
  }
}

.attendance-message {
  margin-top: 1rem;
}

.ruleBoxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.6rem;
}

.ruleBox {
  background: #eee;
  padding: 0.3rem 0.5rem;
  font-size: 0.85rem;
  margin: 0.2rem;
}

.detailHeader {
  text-align: center;
}

@media (min-width: 900px) {
  .pictureCard {
    grid-template-columns: 3fr 2fr;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 83fr 33fr;
    margin-bottom: 10px;
  }
}
