@import '~common/less/mixins.less';

.container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  grid-gap: 40px;
}

.pictureCard {
  .owCard();
  display: grid;
  grid-template-columns: 2fr 1fr;

  img {
    width: 100%;
  }
}

.attendance {
  padding: 30px;
}

.blockGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blockGrid > div {
  width: 50%;
}

.blockGrid > .fullBlock {
  width: 100%;
}

.registration,
.contact,
.infoBox {
  .owCard();
  padding: 30px;
}

.registration {
  grid-row: ~'1 / 3';
}

.contact {
  margin-bottom: auto;
}

.infoBoxHeader {
  font-size: 18px;
  margin-bottom: 0;
  font-style: italic;
}

.infoBoxContent {
  line-height: 1.65rem;
  font-size: 16px;
  margin-top: 1rem;

  p {
    margin-top: 1rem;
  }
}

.attendanceMessage {
  margin-top: 1rem;
}

.ruleBoxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.6rem;
}

.ruleBox {
  background: #eee;
  padding: 0.3rem 0.5rem;
  font-size: 0.85rem;
  margin: 0.2rem;
}

.detailHeader {
  text-align: center;
}
