.card-margin {
  margin: 3rem;
}

.pictureCardContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 83fr 33fr;
  grid-gap: 4rem;
  background-color: white;
}

.pictureCard {
  display: grid;
  background-color: white;
  grid-template-columns: 83fr 33fr;
}

.pictureCard img {
  width: 100%;
}

.imageContainer {
  padding: 2rem;
}

.attendance {
  padding: 2rem 2rem 2rem 0;
}

.picture-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  text-align: center;
}

.picture-blocks .block {
  width: 50%;
}

.block p {
  margin: 0;
  font-size: 2rem;
}

.block h3 {
  font-size: 1.3rem;
  margin: 2rem 0 0 0;
}

.container {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 83fr 33fr;
  margin-top: 4rem;
}

.left-container {
  display: grid;
  grid-gap: 4rem;
}

.right-container {
  display: grid;
  grid-gap: 4rem;
}

.registration {
  background-color: white;
}

.contact {
  background-color: white;
  padding-top: 3rem;
}

.info-box {
  background-color: white;

  .info-box-header, .info-box-content {
    color: #454545;
  }

  .info-box-header {
    font-size: 2.4rem;
    margin-bottom: 0;
  }

  .info-box-content {
    font-size: 1.6rem;
  }
}
