@import '~common/less/mixins.less';
@import '~common/less/constants.less';
@import '~common/less/colors.less';

.dateInput {
  position: relative;
  padding: 10px 5px;
  width: fit-content;
  border-bottom: 2px solid @darkGray;
  margin: 0 auto;

  > input[type='date'] {
    font-size: 20px;
    color: @gray;
    background: none;
    appearance: none;
    width: 7rem;
  }

  > input[type='date']::-webkit-clear-button,
  input[type='date']::-webkit-inner-spin-button {
    display: none;
  }

  > input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  > span {
    font-size: 20px;
    color: @gray;
  }
}

.eventType {
  background: #fff;
  > div {
    border-radius: 3px;
    border-width: 2px;
    border-color: @darkGray;
  }
  > div:hover {
    border-color: @gray;
  }
}
.attendanceEventToggle {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: @gray;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;

  > input {
    appearance: none;
    display: block;
    border-radius: 50%;
    background-color: @darkGray;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
  }

  > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  > span::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: @darkGray;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
  }

  > span::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
  }

  > input:checked,
  > input:indeterminate {
    background-color: @blue;
  }

  > input:checked + span::before,
  > input:indeterminate + span::before {
    border-color: @blue;
    background-color: @blue;
  }

  > input:checked + span::after,
  > input:indeterminate + span::after {
    border-color: rgb(255, 255, 255);
  }

  > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
  }

  > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
  }

  > input:active + span::before {
    border-color: @blue;
  }

  > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
  }

  > input:disabled {
    opacity: 0;
  }

  > input:disabled + span {
    color: @lightGray;
    cursor: initial;
  }

  > input:checked:disabled + span::before,
  > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
  }
}

.attendanceEventToggle:hover {
  > input {
    opacity: 0.04;
  }
}
