@import '~common/less/mixins.less';
@import '~common/less/constants.less';
@import '~common/less/colors.less';

.dateInput {
  position: relative;
  padding: 10px 5px;
  width: fit-content;
  border-bottom: 2px solid @darkGray;
  margin: 0 auto;

  > input[type='date'] {
    font-size: 20px;
    color: @gray;
    background: none;
    appearance: none;
    width: 7rem;
  }

  > input[type='date']::-webkit-clear-button,
  input[type='date']::-webkit-inner-spin-button {
    display: none;
  }

  > input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  > span {
    font-size: 20px;
    color: @gray;
  }
}

.eventType {
  background: #fff;
  > div {
    border-radius: 3px;
    border-width: 2px;
    border-color: @darkGray;
  }
  > div:hover {
    border-color: @gray;
  }
}
