@import '~common/less/mixins.less';
@import '~common/less/constants.less';
@import '~common/less/colors.less';

@gap: 20px;

.container {
  display: grid;
  gap: @gap;
}

.grid {
  display: grid;
  align-items: end;
  grid-template-columns: 1.618fr minmax(328px, 1fr);
  gap: @gap;
  width: 100%;

  @media screen and (max-width: @owMobileBreakpoint) {
    grid-template-columns: auto;

    .dateInput,
    .attendanceEvent {
      margin: auto;
    }
  }
}
