.grid {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  padding-top: 10px;
  padding-bottom: 40px;
  grid-gap: 20px;
}

.search-field {
  height: 50px;
  border: 3px solid gray;
}

.dropdown-container {
  display: grid;
  grid-template-rows: repeat(1fr);
  z-index: 100;
  position: relative;
}

.dropdown-item {
  display: table; // Is used to vertical-center h4
  height: inherit;
  width: 100%;
  text-align: center;

  > h4 {
    display: table-cell;
    vertical-align: middle;
  }

  background: white;
  outline: 3px solid gray;
}

.dropdown-selected {
  background: #e3e3e3;
}

.small-profile-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
