@import '../../less/profile.less';

.grid {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  padding-top: 10px;
  padding-bottom: 40px;
  grid-gap: 20px;
}

.search-field {
  height: 45px;
}

.search-input {
  border-bottom: solid gray 2px;
  background: none;
  height: 47px;
  color: #636363;
  caret-color: #636363;
  font-weight: 500;
  font-size: 2em;
  padding-left: 6px;
  transition: background 0.2s ease;
}

.search-input:focus, .search-input:hover{
  outline: none;
  background: rgba(0, 0, 0, 0);
  animation: inuse 2.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes inuse {
    0% { background: rgba(0, 0, 0, 0); }
    50%   { background: rgba(#223254,.05); }
    100% { background: rgba(0, 0, 0, 0); }
}

.slider {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  input[type='range'] {
    width: 100%;
    background-color: transparent;
  }
  input[type='range']:focus,
  input[type='range']:active {
    outline: none;
  }
  h4 {
    display: table;
    text-align: center;
    margin: 0 auto;
    background: #07244c;
    color: white;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 2px 5px;
    bottom: 10px;
  }
  h4::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 20px solid #07244c;
    border-bottom: 15px solid transparent;
    transform: skewX(-33deg);
    left: 14%;
    top: 18px;
    z-index: -1;
  }
}

.dropdown-container {
  z-index: 100;
}

.dropdown-item {
  display: table; // Is used to vertical-center h4
  height: inherit;
  width: 100%;
  text-align: center;
  animation: fadein .2s;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  border-left: 2px solid gray;
  border-right: 2px solid gray;

  > h4 {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 1em;
  }

  > svg {
    margin-top: 0.8em;
    margin-right: 0.5em;
  }

  background: white;
}

.dropdown-item:first-child {
  border-top: 2px solid gray;
  background: white;
}

.dropdown-item:last-child {
  border-bottom: 2px solid gray;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.dropdown-selected {
  background: #e3e3e3;
}

.small-profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
