.grid {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  padding-top: 10px;
  padding-bottom: 40px;
  grid-gap: 20px;
}

.search-field {
  height: 50px;
  border: 3px solid gray;
}

.dropdown-container {
  display: grid;
  grid-template-rows: repeat(1fr);
  z-index: 100;
  position: relative;
}

.dropdown-item {
  height: 44px;
  width: 100%;
  text-align: center;

  > h4 {
    padding-left: 10px;
    padding-top: 4px;
  }

  background-color: white;
  outline: 3px solid gray;
}

.dropdown-selected {
  background: #e3e3e3;
}

.grid-row {
  background-color: #fff;
}

.small-profile-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
